@page "/cookbook/addrecipe"
@inherits MvvmConponentBase<AddRecipeViewModel>
@rendermode InteractiveAuto

<h3>CookBookAddRecipe</h3>


@if (ViewModel.RecipeCategories == null)
{
    <label>Loading</label>
}
else
{
    <EditForm Model="@ViewModel.Model" FormName="AddRecipeForm">
        <div class="grid-container">
            <div class="grid-multi-row-col-container col-one">
                <div class="grid-row">
                    <select class="form-select" @bind="@ViewModel.CategoryId" aria-label="Default select example">
                        <option value="0" selected>Open this select menu</option>
                        @foreach (var item in ViewModel.RecipeCategories)
                        {
                            <option value="@item.CategoryId">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="grid-row">
                    <input class="form-control" type="text" placeholder="Recipe Name" @bind="@ViewModel.Model.Title" />
                </div>
                <div class="grid-row">
                    <input class="form-control" type="text" placeholder="Recipe short description" @bind="@ViewModel.Model.ShortDescription" />
                </div>
            </div>
            <div class="grid-single-row-col-container col-two">
                <div class="grid-flex-col">
                    <div class="grid-row">
                        <InputFile id="recipe-img-selector" type="file"
                                   asp-for="@ViewModel.Model.Image"
                                   hidden
                                   OnChange="OnFileSelect"
                                   class="form-control" />
                        <img id="recipe-preview-img"
                             class="recipe-img"
                             src="@ViewModel.ImgSrc"
                             style="max-width:100px; max-height:100px;"
                             alt="select a image"
                             @onclick="DisplayMessage" />
                    </div>
                </div>
            </div>
        </div>
    </EditForm>


}

<button class="btn btn-primary" @onclick="@ViewModel.SaveRecipe">Save me</button>
<script src="/js/addRecipe.js"></script>
@code {
    [Inject]
    protected IJSRuntime Js { get; set; }


    private async Task DisplayMessage()
    {
        await Js.InvokeVoidAsync("handleImgClicked", "");
    }

    private async Task OnFileSelect(InputFileChangeEventArgs e)
    {
        var file = e.File;

        await ViewModel.LoadFile(file);
    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.Loaded();
    }
}
