@using Microsoft.AspNetCore.Components.Forms
<div class="card d-flex justify-content-center align-items-center rounded-circle recipe-img-card h-100 w-100">
    <div class="card-body h-100 w-100">
        <InputFile id="@Id"
                   type="file"
                   asp-for="@ImgSource"
                   hidden
                   OnChange="@OnFileSelect"
                   class="form-control" />
        <img id="recipe-preview-img"
             class="img-fluid rounded-circle h-100 w-100"
             src="@ImgSource"
             alt="@Label"
             @onclick="HandleImgClicked" />
    </div>
</div>

